@model IEnumerable<AppBradyReq.Models.ClienteModel>

@{
    ViewBag.Title = "Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cliente</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tsop_Clisapclicod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tsop_Clisapclicgc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tsop_Ordbilgruclinom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tsop_Clisapclicod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tsop_Clisapclicgc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tsop_Ordbilgruclinom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
