@model IEnumerable<AppBradyReq.Models.RequisitoModel>

@{
    ViewBag.Title = "ClienteRequisito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model)
{
<h5>
    @Html.DisplayFor(modelItem => item.Cliente.Tsop_Clisapclinom, new { htmlAttributes = new { @class = "form-control" } })

</h5>
    break;
}
<p>

    @Html.ActionLink("Duvida", "EnviaEmail", "CheckList")
    @Html.ActionLink("Salvar", "Salvar")

</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>

            <td>

                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @if (item.Possui)
                {
                    @Html.ActionLink("Excluir", "ExcluirItem", "CheckList", new { cliente = item.Cliente.Tsop_Clisapclicod, id = item.Rqcl_Requisito_Id }, htmlAttributes: new { @class = "btn btn-danger" })
                }
                else
                {
                    @Html.ActionLink("Incluir", "ListaItem", "CheckList", new { cliente = item.Cliente.Tsop_Clisapclicod, id = item.Rqcl_Requisito_Id }, htmlAttributes: new { @class = "btn btn-primary" })
                }
            </td>


        </tr>
        }

    </table>
